@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

// Colors
$colors: (
    light-green: #F7FFF7,
    white: #FFF,
    text: #212429,
    placeholder: #ADB6BD
);

// Returns a color
@function color($color-name) {
    @return map-get($colors, $color-name)
};

// Variables
$body-bg-color: color(light-green);
$login-signup-bg-color: color(white);

// Background Design
$bg-img: (
    green: url('../img/gr-bg.svg'),
    orange: url('../img/or-bg.svg')
);

// Returns a background image
@function bg-img($img) {
    @return map-get($bg-img, $img)
};

// Typography
$type-size: (
    logo: 25px,
    subtitle: 25px,
    heading: 25px,
    placeholder: 16px,
    button: 16px,
    body: 16px
);

@function font-size($size) {
    @return map-get($type-size, $size)
};

body {
    background-color: $body-bg-color;
    background-image: bg-img(green), bg-img(orange);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: -146.5px, 836.94px;
    background-position-y: 54.74px, -175.63px;
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 1088px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
}

header {
    grid-column: 1/13;
    display: flex;
    align-items: center;
    margin: 55px 0;

    #logo {
        display: flex;
        align-items: center;

        #h1-brandname {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: font-size(logo);
        }
    }

    #h2-subtitle {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: font-size(subtitle);
        margin-left: 17px;
    }   
}


#login-form {
    grid-column: 2/6;
    background-color: $login-signup-bg-color;
    padding: 76px;

    
}

#signup-form {
    grid-column: 8/12;
}